@function em($pixels, $context: $font-size-default) {
  @return #{$pixels / $context * 0.8}em;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  transition: $args;
}

@mixin transition-delay($args...) {
  -webkit-transition-delay: $args;
  transition-delay: $args;
}

@mixin vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

@mixin vbottom {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
}

@mixin vtop {
  position: relative;
  top: 0%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
