.footer {
  width: 100%;
  padding-top: 40px;
  text-align: center;
  background: $color-white;
  transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1), opacity 1.7s linear;

  .dynamic-site & {
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
  }

  &__title {
    padding-bottom: 40px;
    margin: 0;
    font-size: em(30px);
    font-weight: 300;
    color: $color-body;
    text-transform: uppercase;

    @include max-screen-height($vertical-screen-breakpoint-small) {
      display: none;
    }
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.7s ease, opacity 0.3s linear;
  }

  &__links {
    display: block;
    padding: 30px 0 40px;
    text-align: center;
  }

  &__link {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
    opacity: 0.3;
    transition: opacity 0.3s linear;

    &:hover {
      opacity: 0.6;
    }

    &--twitter {
      width: 24px;
      height: 20px;
      background: url('../img/twitter.svg') no-repeat;
      background-size: 100% 100%;
    }

    &--github {
      width: 52px;
      height: 14px;
      background: url('../img/github.svg') no-repeat;
      background-size: 100% 100%;
    }

    &--mail {
      width: 21px;
      height: 36px;
      background: url('../img/mail.svg') no-repeat;
      background-size: 100% 100%;
    }

    &--soundcloud {
      width: 30px;
      height: 14px;
      background: url('../img/soundcloud.svg') no-repeat;
      background-size: 100% 100%;
    }
  }
}
