$font-size-default: 17px;
$font-size-desktop: 18px;
$font-size-desktop-hd: 20px;

$color-white: #fff;
$color-body: #3d3d3d;

$vertical-screen-breakpoint-small: 760px;
$vertical-screen-breakpoint-medium: 820px;
