//----------------------------------*\
// HELPERS
//----------------------------------*/

@import 'helpers/mixins';
@import 'helpers/media';
@import 'helpers/normalize';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/jquery.fullPage';

//----------------------------------*\
// STYLES
//----------------------------------*/

@import 'styles/vars';
@import 'styles/defaults';
@import 'styles/section';
@import 'styles/reviews';
@import 'styles/iphone';
@import 'styles/colors';
@import 'styles/paragraph';
@import 'styles/footer';
@import 'styles/elements';
